@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-gray-100 dark:bg-gray-800 dark:text-gray-200;
  @apply text-base;
}

#__nuxt {
  @apply min-h-screen;
}

a {
  @apply hover:underline text-blue-600 dark:text-blue-400;
}

ul {
  @apply mb-4;
}

ul {
  @apply list-disc list-outside text-sm ml-4;
}

ul li {
  @apply mb-1
}

p {
  margin-bottom: 0.75rem;
}

.divider.divider-horizontal {
  @apply bg-gray-300 dark:bg-gray-700;
  min-height: 10px;
  width: 1px;
}

hr {
  @apply border-gray-300 dark:border-gray-700 my-4;
}