@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-stone-400 dark:bg-stone-900 dark:text-gray-200;
  @apply text-base;
}

#__nuxt {
  @apply min-h-screen;
}

a {
  @apply hover:underline text-yellow-600;
}

ul {
  @apply mb-4;
}

ul {
  @apply list-disc list-outside text-sm ml-4;
}

ul li {
  @apply mb-1
}

p {
  margin-bottom: 0.75rem;
}

.divider.divider-horizontal {
  @apply bg-neutral-300 dark:bg-neutral-700;
  min-height: 10px;
  width: 1px;
}

hr {
  @apply border-gray-500 my-4;
}

.tag {
    padding: 0.2em 0.6em 0.3em;
    @apply inline-flex items-center rounded-sm leading-none font-semibold text-xs bg-neutral-500;

  p { @apply m-0 p-0; }
}